.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-component {
    margin-top: 50px;
    width: 70%;
    padding: 30px 50px;
    background-color: rgb(255, 255, 255);
}

.create-label {
    text-align: center;
}